<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="enableSimpleMembership" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <connectionStrings>
        <add connectionString="server=.\SQLEXPRESS;uid=cricketU;pwd=&quot;;kBC)W^%KoV=&quot;;Database=cricket" name="cricket" providerName="System.Data.SqlClient" />
        <!--<add connectionString="Server=.\SQLEXPRESS;Database=Snapbenta;Uid=sa;Pwd=135246357" name="Snapbenta" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>

</configuration>